<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <?ifndef ProductVersion?>
  <?define ProductVersion = "1.3.0.1754" ?>
  <?endif ?>

  <?ifndef ProductName?>
  <?define ProductName = "DriveHUD" ?>
  <?endif ?>

  <?ifndef ProductUrl?>
  <?define ProductUrl = "www.acepokersolutions.com" ?>
  <?endif ?>

  <?ifndef Manufacturer?>
  <?define Manufacturer = "Ace Poker Solutions" ?>
  <?endif ?>


  <Bundle Name="$(var.ProductName)"
          Version="$(var.ProductVersion)"
          HelpUrl="$(var.ProductUrl)"
          AboutUrl="$(var.ProductUrl)"
          Manufacturer="$(var.Manufacturer)"
          Copyright="(c) All rights reserved."
          DisableModify="yes"
          IconSourceFile="..\DriveHUD.Application\images\drivehud.ico"
          UpgradeCode="d57055f7-9cf4-4582-a873-d606ac3ab658">

    <bal:Condition  Message="This software can only be installed on Windows Vista and higher.">
      <![CDATA[VersionNT >= v6.0]]>
    </bal:Condition>

    <BootstrapperApplicationRef Id='ManagedBootstrapperApplicationHost'>

      <Payload SourceFile='$(var.DriveHUD.Bootstrapper.App.TargetPath)' />
      <Payload SourceFile='$(var.DriveHUD.Bootstrapper.App.ProjectDir)BootstrapperCore.config' />
      <Payload SourceFile='$(var.DriveHUD.Bootstrapper.App.ProjectDir)Resources/EULA.rtf' />
      <Payload SourceFile='$(var.DriveHUD.Bootstrapper.App.TargetDir)GalaSoft.MvvmLight.dll' />

    </BootstrapperApplicationRef>

    <!-- Determine what items are installed in the event of an upgrade-->
    <util:RegistrySearch Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Variable="ProductSHMInstalled" Result="exists" />
    <!--<bal:Condition Message="Another version of this product is already installed. Installation of this version cannot continue. To configure or remove the existing version of this product, use Add/Remove Programs on the Control Panel.">
      Not ProductSHMInstalled
    </bal:Condition>-->

    <Variable Name="EXECUTABLE" bal:Overridable='yes' Value='"DriveHUD.Application.exe"'/>
    <Variable Name="RELATIVEEXECUTABLEPATH" bal:Overridable='yes' Value='"$(var.ProductName)"'/>


    <Chain DisableSystemRestore='yes'>
      <PackageGroupRef Id="NetFx45Web"/>
      <RollbackBoundary/>
      <MsiPackage Id="DriveHUD" Compressed="yes" SourceFile="..\DriveHUD.Setup\bin\Release\DriveHUD.msi" Vital="yes">
        <MsiProperty Name="MANUFACTURERDIR" Value="[MANUFACTURERDIR]"/>
        <MsiProperty Name="INSTALLDESKTOPSHORTCUT" Value="[INSTALLDESKTOPSHORTCUT]"/>
        <MsiProperty Name="INSTALLPROGRAMMENUSHORTCUT" Value="[INSTALLPROGRAMMENUSHORTCUT]"/>
        <MsiProperty Name="REMOVEPLAYERDATA" Value="[REMOVEPLAYERDATA]"/>
      </MsiPackage>
    </Chain>
  </Bundle>

</Wix>
