<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Product Id="$(var.ProductCode)"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="301"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.Manufacturer)"
             Description="Installs $(var.ProductName)"
             Keywords="$(var.ProductName),Installer,MSI" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Ignore file version during upgrade -->
    <Property Id="REINSTALLMODE" Value="amus" />
    <Property Id="MSIFASTINSTALL" Value="1" />

    <MajorUpgrade
      Schedule="afterInstallExecute"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

    <!-- Properties -->
    <Property Id="INSTALLDESKTOPSHORTCUT" />
    <Property Id="INSTALLPROGRAMMENUSHORTCUT" />
    <Property Id="REMOVEPLAYERDATA"/>

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MANUFACTURERDIR" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <Directory Id="BIN" Name="bin">
              <Directory Id="LIB" Name="Lib"/>
              <Directory Id="X86" Name="x86"/>
              <Directory Id="X64" Name="x64"/>
            </Directory>
            <Directory Id="DATA" Name="Data">
              <Directory Id="PLAYERTYPES" Name="PlayerTypes"/>
            </Directory>
            <Directory Id="SCRIPTS" Name="Scripts"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>

    <!-- Components -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="DriveHUD.Application.exe">
        <File Id="DriveHUD.Application.exe" Source="$(var.BuildDirectory)\DriveHUD.Application.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="App.config">
        <RemoveFile Id="App.config" Name="DriveHUD.Application.exe.config" On="both"/>
        <File Id="App.config" Name="DriveHUD.Application.exe.config" Vital="yes" Source="$(var.BuildDirectory)\DriveHUD.Application.exe.config" />
      </Component>
      <Component Id="DriveHUD.HUD.exe">
        <File Id="DriveHUD.HUD.exe" Source="$(var.BuildDirectory)\DriveHUD.HUD.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DriveHUD.HUD.exe.config">
        <RemoveFile Id="DriveHUD.HUD.exe.config" Name="DriveHUD.HUD.exe.config" On="both"/>
        <File Id="DriveHUD.HUD.exe.config" Name="DriveHUD.HUD.exe.config" Vital="yes" Source="$(var.BuildDirectory)\DriveHUD.HUD.exe.config" />
      </Component>
      <Component Id="DriveHUD.DBMigration.exe">
        <RemoveFile Id="DriveHUD.DBMigration.exe" Name="DriveHUD.DBMigration.exe" On="both"/>
        <File Id="DriveHUD.DBMigration.exe" Name="DriveHUD.DBMigration.exe" Vital="yes" Source="$(var.BuildDirectory)\DriveHUD.DBMigration.exe" />
      </Component>
      <Component Id="DriveHUD.DBMigration.exe.config">
        <RemoveFile Id="DriveHUD.DBMigration.exe.config" Name="DriveHUD.DBMigration.exe.config" On="both"/>
        <File Id="DriveHUD.DBMigration.exe.config" Name="DriveHUD.DBMigration.exe.config" Vital="yes" Source="$(var.BuildDirectory)\DriveHUD.DBMigration.exe.config" />
      </Component>
      <Component Id="DHCReg.dll" Guid="{12B4DF2F-64B0-44A7-B449-B2FA41B5D7FA}">
        <File Id="DHCReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DHCReg.dll" />
      </Component>
      <Component Id="DHHReg.dll" Guid="{A31333D2-48FC-4DCB-8E6B-BD5C0ACDB8E6}">
        <File Id="DHHReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DHHReg.dll" />
      </Component>
      <Component Id="DHOReg.dll" Guid="{DA7A9861-E9EC-43CC-B6B4-937DE1FB2670}">
        <File Id="DHOReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DHOReg.dll" />
      </Component>
      <Component Id="XRCReg.dll" Guid="{C2ACDDF9-D3CB-4121-A340-34E3B90F5772}">
        <File Id="XRCReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\XRCReg.dll" />
      </Component>
      <Component Id="XRHReg.dll" Guid="{733A6A5C-F02D-4CF9-802E-E2336F82BA5A}">
        <File Id="XRHReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\XRHReg.dll" />
      </Component>
      <Component Id="XROReg.dll" Guid="{82375140-3197-4247-BD51-C1B06267DC2A}">
        <File Id="XROReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\XROReg.dll" />
      </Component>
      <Component Id="DriveHUD.Updater.exe" Guid="{F62CC064-5D14-4AEA-9A77-FFD13398AFEA}">
        <File Id="DriveHUD.Updater.exe" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Updater.exe" />
      </Component>
      <Component Id="DriveHUD.Updater.exe.config" Guid="{8814B3F8-6980-438F-B635-5E5493E0B26E}">
        <File Id="DriveHUD.Updater.exe.config" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Updater.exe.config" />
      </Component>
      <Component Id="DriveHUD.Updater.Core.dll" Guid="{B7076833-4E68-4B7C-BF29-3515D5B002FC}">
        <File Id="DriveHUD.Updater.Core.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Updater.Core.dll" />
      </Component>
      <Component Id="PMCReg.dll" Guid="{EC48F6E1-0332-424E-9F43-16BCEC6918EF}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="PMCReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\PMCReg.dll" />
      </Component>
      <Component Id="PMHReg.dll" Guid="{D27809F2-4674-4006-9C26-F7CECF3AFC54}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="PMHReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\PMHReg.dll" />
      </Component>
      <Component Id="PMOReg.dll" Guid="{B40098A1-6C3E-4618-A697-571A6E63BCFA}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="PMOReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\PMOReg.dll" />
      </Component>
      <Component Id="PMTReg.dll" Guid="{4CB16442-E331-45DA-8C5E-0B47F0908179}">
        <File Id="PMTReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\PMTReg.dll" />
      </Component>
      <Component Id="PMNReg.dll" Guid="{BA60930E-8AF3-4CC9-BA1B-62F55134E604}">
        <File Id="PMNReg.dll" KeyPath="yes" Source="$(var.BuildDirectory)\PMNReg.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Shortcuts" Guid="{D29AF16C-2EC7-4447-BD6B-CFA8AEA13993}">
        <Shortcut Id="UninstallShortcut"  Name="Uninstall $(var.ProductName)" Description="Uninstalls $(var.ProductName) and all of its components" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
        <RemoveFolder Id="RemoveINSTALLDIR" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed"  Type="integer"  Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BIN">
      <Component Id="DriveHUD.API.dll" Guid="{0A05C6C2-76F6-474C-912E-0EFD0F0F5403}">
        <File Id="DriveHUD.API.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.API.dll" />
      </Component>
      <Component Id="DriveHUD.Entities.dll" Guid="{53593C97-332F-431F-9D85-081EEAE0E246}">
        <File Id="DriveHUD.Entities.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Entities.dll" />
      </Component>
      <Component Id="DriveHUD.ViewModels.dll" Guid="{CA897FED-9E3D-4706-9539-3CA474D790E4}">
        <File Id="DriveHUD.ViewModels.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.ViewModels.dll" />
      </Component>
      <Component Id="DriveHUD.Common.dll" Guid="{23025E1A-3FAE-4CD1-AA48-7C70FD4C3134}">
        <File Id="DriveHUD.Common.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Common.dll" />
      </Component>
      <Component Id="DriveHUD.Common.Resources.dll" Guid="{DC26E80F-40EA-430D-AF91-B3F627029CE3}">
        <File Id="DriveHUD.Common.Resources.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Common.Resources.dll" />
      </Component>
      <Component Id="DriveHUD.Common.Infrastructure.dll" Guid="{A0A93DAC-520F-49A1-9BD6-7393059504F7}">
        <File Id="DriveHUD.Common.Infrastructure.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Common.Infrastructure.dll" />
      </Component>
      <Component Id="DriveHUD.Common.Wpf.dll" Guid="{06F0AD8F-7539-4996-A0C7-927B5B7C6EB2}">
        <File Id="DriveHUD.Common.Wpf.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Common.Wpf.dll" />
      </Component>
      <Component Id="DriveHUD.EquityCalculator.dll" Guid="{E4EF0A5B-5623-4291-98AC-4AD47E7CA119}">
        <File Id="DriveHUD.EquityCalculator.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.EquityCalculator.dll" />
      </Component>
      <Component Id="DriveHUD.EquityCalculator.Base.dll" Guid="{9737B86C-02FC-4279-B9CB-ED18F38DE585}">
        <File Id="DriveHUD.EquityCalculator.Base.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.EquityCalculator.Base.dll" />
      </Component>
      <Component Id="DriveHUD.Controls.dll" Guid="{EE89DACB-923F-4B91-9136-1689357CDE1A}">
        <File Id="DriveHUD.Controls.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Controls.dll" />
      </Component>
      <Component Id="DriveHUD.Importers.dll" Guid="{C850656B-AE89-4DD6-8EB4-76B81DF6ACB0}">
        <File Id="DriveHUD.Importers.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.Importers.dll" />
      </Component>
      <Component Id="DriveHUD.HUD.Service.dll" Guid="{88B7F75A-8018-4187-A199-993DF44153C0}">
        <File Id="DriveHUD.HUD.Service.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.HUD.Service.dll" />
      </Component>
      <Component Id="DriveHUD.PlayerXRay.dll" Guid="{E26FF75F-87F3-44E9-ABA6-A1FC3D1F9BB1}">
        <File Id="DriveHUD.PlayerXRay.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.PlayerXRay.dll" />
      </Component>
      <Component Id="DriveHUD.PMCatcher.dll" Guid="{DB165E97-2D6D-46B5-83B6-E922716CB49A}">
        <File Id="DriveHUD.PMCatcher.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DriveHUD.PMCatcher.dll" />
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll" Guid="{5E51C286-A865-4A26-9998-AE01C55CBE03}">
        <File Id="Xceed.Wpf.Toolkit.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Xceed.Wpf.Toolkit.dll" />
      </Component>
      <Component Id="Model.dll" Guid="{87680A6E-E263-4CA5-BE3D-88F4999F8A1D}">
        <File Id="Model.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Model.dll" />
      </Component>
      <Component Id="HandHistories.Objects.dll" Guid="{EF5CC6A7-5784-4E6D-B93D-0652430DE633}">
        <RemoveFile Id="HandHistories.Objects.dll" Name="HandHistories.Objects.dll" On="both"/>
        <File Id="HandHistories.Objects.dll" KeyPath="yes" Source="$(var.BuildDirectory)\HandHistories.Objects.dll" />
      </Component>
      <Component Id="HandHistories.Parser.dll" Guid="{B399D6FC-3E00-4C42-A9BC-8FD2C2F719B3}">
        <File Id="HandHistories.Parser.dll" KeyPath="yes" Source="$(var.BuildDirectory)\HandHistories.Parser.dll" />
      </Component>
      <Component Id="GGNTReg.dll" Guid="{CE299D97-AC19-491D-BC16-EB0E28DC51FF}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="GGNTReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\GGNTReg.dll" />
      </Component>
      <Component Id="GGNHReg.dll" Guid="{3E212942-5445-4877-9533-43307F97AE81}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="GGNHReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\GGNHReg.dll" />
      </Component>
      <Component Id="GGNOReg.dll" Guid="{85CE20B7-D82A-4AD3-906D-DEEB124E8C50}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="GGNOReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\GGNOReg.dll" />
      </Component>
      <Component Id="GGNCReg.dll" Guid="{3F8F9859-5CB9-4ED6-BFC4-A3391F219C33}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="GGNCReg.dll" KeyPath="yes" Source="$(var.ProjectDir)\..\dependencies\Fake\GGNCReg.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BIN">
      <Component Id="FluentMigrator.dll" Guid="{B6806ECF-979B-428F-A90A-1D3A135BA50A}">
        <File Id="FluentMigrator.dll" KeyPath="yes" Source="$(var.BuildDirectory)\FluentMigrator.dll" />
      </Component>
      <Component Id="FluentMigrator.Runner.dll" Guid="{7432020E-3DF9-4A2D-AD06-D17812DAE411}">
        <File Id="FluentMigrator.Runner.dll" KeyPath="yes" Source="$(var.BuildDirectory)\FluentMigrator.Runner.dll" />
      </Component>
      <Component Id="FluentNHibernate.dll" Guid="{89B1B7B8-54EF-47D3-9C83-8D4F57A176BC}">
        <File Id="FluentNHibernate.dll" KeyPath="yes" Source="$(var.BuildDirectory)\FluentNHibernate.dll" />
      </Component>
      <Component Id="HandEvaluator.dll" Guid="{FA4F1319-A1B8-4CB1-8351-281D2F405661}">
        <File Id="HandEvaluator.dll" KeyPath="yes" Source="$(var.BuildDirectory)\HandEvaluator.dll" />
      </Component>
      <Component Id="Npgsql.dll" Guid="{D084432B-B21E-4725-AF84-A257E28B0A86}">
        <File Id="Npgsql.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Npgsql.dll" />
      </Component>
      <Component Id="Mono.Security.dll" Guid="{772BF070-5B38-42F8-902B-2AD5D404806D}">
        <File Id="Mono.Security.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Mono.Security.dll" />
      </Component>
      <Component Id="Iesi.Collections.dll" Guid="{D636A987-53DC-41CD-9D59-EF131FB7850F}">
        <File Id="Iesi.Collections.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Iesi.Collections.dll" />
      </Component>
      <Component Id="ManagedWinapi.dll" Guid="{A9951555-1A1B-4AF3-B4F6-7526935D6107}">
        <File Id="ManagedWinapi.dll" KeyPath="yes" Source="$(var.BuildDirectory)\ManagedWinapi.dll" />
      </Component>
      <Component Id="ManagedWinapiNativeHelper.dll" Guid="{AEB1DE80-827C-44DA-BF0B-0E12954E0FD7}">
        <File Id="ManagedWinapiNativeHelper.dll" KeyPath="yes" Source="$(var.BuildDirectory)\ManagedWinapiNativeHelper.dll" />
      </Component>
      <Component Id="NHibernate.dll" Guid="{CC82081C-1385-432F-B941-242118D2F434}">
        <File Id="NHibernate.dll" KeyPath="yes" Source="$(var.BuildDirectory)\NHibernate.dll" />
      </Component>
      <Component Id="NLog.dll" Guid="{81FDBBD2-FD8B-4B43-A90F-333938EFD0EF}">
        <File Id="NLog.dll" KeyPath="yes" Source="$(var.BuildDirectory)\NLog.dll" />
      </Component>
      <Component Id="System.Data.SQLite.dll" Guid="{7A10FFB8-4885-45D6-8220-2F3001EBE45D}">
        <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Data.SQLite.dll" />
      </Component>
      <Component Id="protobufnet.dll" Guid="{AB2D1023-1875-4D5D-8438-0F60BC04D260}">
        <File Id="protobufnet.dll" KeyPath="yes" Source="$(var.BuildDirectory)\protobuf-net.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.dll" Guid="{4FF9BE6B-13F7-4F8D-95CD-A20B324ACC7F}">
        <File Id="Telerik.Windows.Controls.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.Chart.dll" Guid="{C75AA8DA-55E0-45A9-8E6D-A8CA8C4E86E6}">
        <File Id="Telerik.Windows.Controls.Chart.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.Chart.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.DataVisualization.dll" Guid="{8E29397B-BB7F-4CF9-864E-471188D6F6E4}">
        <File Id="Telerik.Windows.Controls.DataVisualization.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.DataVisualization.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.Diagrams.dll" Guid="{95EE824E-3EEE-4795-AD94-47391B798755}">
        <File Id="Telerik.Windows.Controls.Diagrams.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.Diagrams.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.Diagrams.Extensions.dll" Guid="{BBEC6078-9AB0-486C-9C23-F400D8D1F6E1}">
        <File Id="Telerik.Windows.Controls.Diagrams.Extensions.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.Diagrams.Extensions.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.GridView.dll" Guid="{432EAFA3-A781-4735-8D5B-440D48E28B43}">
        <File Id="Telerik.Windows.Controls.GridView.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.GridView.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.Input.dll" Guid="{8AF04420-1359-4A54-8865-6ED6D5CAD9B6}">
        <File Id="Telerik.Windows.Controls.Input.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.Input.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.Navigation.dll" Guid="{4A177EB9-E05F-407E-8AE9-2EF5A97EDE85}">
        <File Id="Telerik.Windows.Controls.Navigation.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.Navigation.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.RibbonView.dll" Guid="{D2C487DF-AD63-4CF7-9AE6-3E6AB3803C1C}">
        <File Id="Telerik.Windows.Controls.RibbonView.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.RibbonView.dll" />
      </Component>
      <Component Id="Telerik.Windows.Data.dll" Guid="{B0460B2C-2247-4805-A27E-DC3C783BF2CE}">
        <File Id="Telerik.Windows.Data.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Data.dll" />
      </Component>
      <Component Id="Telerik.Windows.Diagrams.Core.dll" Guid="{79B6795D-37B1-4C8C-8E12-935C43F84976}">
        <File Id="Telerik.Windows.Diagrams.Core.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Diagrams.Core.dll" />
      </Component>
      <Component Id="Telerik.Windows.PersistenceFramework.dll" Guid="{530FD436-8DC3-4986-84FD-17E990A168D4}">
        <File Id="Telerik.Windows.PersistenceFramework.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.PersistenceFramework.dll" />
      </Component>
      <Component Id="DeployLX.Licensing.v5.dll">
        <File Id="DeployLX.Licensing.v5.dll" KeyPath="yes" Source="$(var.BuildDirectory)\DeployLX.Licensing.v5.dll" />
      </Component>
      <Component Id="Facebook.dll">
        <File Id="Facebook.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Facebook.dll" />
      </Component>
      <Component Id="Twitterizer2.dll">
        <File Id="Twitterizer2.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Twitterizer2.dll" />
      </Component>
      <Component Id="log4net.dll" Guid="{4DB7E459-75D8-4C18-BC52-A01B65B427F7}">
        <File Id="log4net.dll" KeyPath="yes" Source="$(var.BuildDirectory)\log4net.dll" />
      </Component>
      <Component Id="Prism.Unity.Wpf.dll" Guid="{8F780AF0-18FA-44CA-9E91-753AFDAE7760}">
        <File Id="PRISM.UNITY.WPF.DLL" Name="Prism.Unity.Wpf.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Prism.Unity.Wpf.dll" />
      </Component>
      <Component Id="Prism.Wpf.dll" Guid="{5B6A8EB1-0A66-4878-B94F-B74AF8FE1C76}">
        <File Id="PRISM.WPF.DLL" Name="Prism.Wpf.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Prism.Wpf.dll" />
      </Component>
      <Component Id="Prism.dll" Guid="{48A8474C-50B8-48EA-8345-637AFA153E26}">
        <File Id="PRISM.DLL" Name="Prism.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Prism.dll" />
      </Component>
      <Component Id="Microsoft.Practices.Unity.dll" Guid="{5C2BF91C-1BB5-45BC-A2C6-AD49CAD48B98}">
        <File Id="MICROSOFT.PRACTICES.UNITY.DLL" Name="Microsoft.Practices.Unity.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="{E994A6A9-B8F2-4738-8A83-1109ED8C45DB}">
        <File Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" Name="Microsoft.Practices.ServiceLocation.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="{BA7B9756-9CAC-48E5-95C1-1C2067428188}">
        <File Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" Name="System.Windows.Interactivity.dll" Source="$(var.BuildDirectory)\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="Microsoft.Expression.Interactions.dll" Guid="{8B25A2B7-19FA-4090-8B39-6F4347E48F3C}">
        <File Id="MICROSOFT.EXPRESSION.INTERACTIONS.DLL" Name="Microsoft.Expression.Interactions.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Microsoft.Expression.Interactions.dll" />
      </Component>
      <Component Id="ReactiveUI.dll" Guid="B4C53A6B-F4EB-4042-AE45-0B78DC9D629A">
        <File Id="REACTIVEUI.DLL" Name="ReactiveUI.dll" Source="$(var.BuildDirectory)\ReactiveUI.dll" />
      </Component>
      <Component Id="Splat.dll" Guid="FBE0DF00-CBA3-4D67-8866-588B2E378238">
        <File Id="SPLAT.DLL" Name="Splat.dll" Source="$(var.BuildDirectory)\Splat.dll" />
      </Component>
      <Component Id="System.Reactive.Core.dll" Guid="8BCB6C48-19C2-495D-BAE5-27609704BE26">
        <File Id="SYSTEM.REACTIVE.CORE.DLL" Name="System.Reactive.Core.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Core.dll" />
      </Component>
      <Component Id="System.Reactive.Interfaces.dll" Guid="16695406-C842-4880-9C22-817ADA068CFC">
        <File Id="SYSTEM.REACTIVE.INTERFACES.DLL" Name="System.Reactive.Interfaces.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Interfaces.dll" />
      </Component>
      <Component Id="System.Reactive.Linq.dll" Guid="965B026B-CD2D-4989-BE94-94C643711F5D">
        <File Id="SYSTEM.REACTIVE.LINQ.DLL" Name="System.Reactive.Linq.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Linq.dll" />
      </Component>
      <Component Id="System.Reactive.PlatformServices.dll" Guid="AD25971B-E034-4916-96D9-CA36330A1041">
        <File Id="SYSTEM.REACTIVE.PLATFORMSERVICES.DLL" Name="System.Reactive.PlatformServices.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.PlatformServices.dll" />
      </Component>
      <Component Id="System.Reactive.Windows.Threading.dll" Guid="D4DDD828-0A07-4229-B7A9-74721157F352">
        <File Id="SYSTEM.REACTIVE.WINDOWS.THREADING.DLL" Name="System.Reactive.Windows.Threading.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Reactive.Windows.Threading.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="{290819DB-0A48-4DF2-BDE6-168C68E6F1D3}">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Microsoft.Practices.Unity.Configuration.dll" Guid="{9892979E-B331-4F9A-8149-A5497187D10B}">
        <File Id="Microsoft.Practices.Unity.Configuration.dll" Name="Microsoft.Practices.Unity.Configuration.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Microsoft.Practices.Unity.Configuration.dll" />
      </Component>
      <Component Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" Guid="{B2B1567F-58BE-4E46-B2BF-2D2497B01CC6}">
        <File Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" Name="Microsoft.Practices.Unity.RegistrationByConvention.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      </Component>
      <Component Id="Telerik.Windows.Controls.Data.dll" Guid="{90713AC2-3EF8-449C-8FD3-B0B18AFEBD4F}">
        <File Id="Telerik.Windows.Controls.Data.dll" Name="Telerik.Windows.Controls.Data.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Telerik.Windows.Controls.Data.dll" />
      </Component>
      <Component Id="Microsoft.Expression.Drawing.dll" Guid="{72509625-8FD7-40E5-93AF-BCFBA0CC091D}">
        <File Id="Microsoft.Expression.Drawing.dll" Name="Microsoft.Expression.Drawing.dll" KeyPath="yes" Source="$(var.BuildDirectory)\Microsoft.Expression.Drawing.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Extensions.dll" Guid="{D2BB84F7-40A9-44FB-8CBB-8BE9A4DC50FE}">
        <File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" KeyPath="yes" Source="$(var.BuildDirectory)\System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="websocket.sharp.dll" Guid="{6BCD74FE-B3FB-413B-BC82-460F4B67B238}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="websocket.sharp.dll" Name="websocket-sharp.dll" Source="$(var.ProjectDir)\..\dependencies\Fake\websocket-sharp.dll" />
      </Component>
      <Component Id="Titanium.Web.Proxy.dll" Guid="{7B159201-D224-4EE2-BC89-A1155D621869}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="Titanium.Web.Proxy.dll" Name="Titanium.Web.Proxy.dll" Source="$(var.ProjectDir)\..\dependencies\Fake\Titanium.Web.Proxy.dll" />
      </Component>
      <Component Id="StreamExtended.dll" Guid="{16041656-FDCC-444A-A23D-B492C1AF0464}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="StreamExtended.dll" Name="StreamExtended.dll" Source="$(var.ProjectDir)\..\dependencies\Fake\StreamExtended.dll" />
      </Component>
      <Component Id="BouncyCastle.Crypto.dll" Guid="{0DE922F8-86F4-4A97-BDE3-62C2813451B7}" Transitive="yes">
        <Condition>False</Condition>
        <File Id="BouncyCastle.Crypto.dll" Name="BouncyCastle.Crypto.dll" Source="$(var.ProjectDir)\..\dependencies\Fake\BouncyCastle.Crypto.dll" />
      </Component>
      <Component Id="SharpPcap.dll" Guid="{E6B116FD-276F-47D7-B1FC-444D98D3D0F6}">
        <File Id="SharpPcap.dll" KeyPath="yes" Source="$(var.BuildDirectory)\SharpPcap.dll" />
      </Component>
      <Component Id="bdec.dll" Guid="{A5AC0EC1-EF36-4182-9337-7E3AA1CDC734}">
        <File Id="bdec.dll" KeyPath="yes" Name="bdec.dll" Source="$(var.BuildDirectory)\bdec.dll" />
      </Component>
      <Component Id="PacketDotNet.dll" Guid="{FC119EF2-5799-4947-AD33-A65CE0D00924}">
        <File Id="PacketDotNet.dll" KeyPath="yes" Name="PacketDotNet.dll" Source="$(var.BuildDirectory)\PacketDotNet.dll" />
      </Component>
      <Component Id="EPPlus.dll" Guid="{52FE52E0-97A8-4D00-BB68-9F269B82BF3B}">
        <File Id="EPPlus.dll" KeyPath="yes" Name="EPPlus.dll" Source="$(var.BuildDirectory)\EPPlus.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LIB">
      <Component Id="CAPPIPEDB.DLL" DiskId="1" Guid="4BA6C7E5-C1BE-476B-B50F-66BED055E922">
        <File Id="CAPPIPEDB.DLL" Name="CapPipedB.dll" Source="$(var.BuildDirectory)\Lib\CapPipedB.dll" />
      </Component>
      <Component Id="CAPPIPEDI.DLL" Guid="{66448353-8776-45EA-B6B2-5E57A8D958CB}">
        <File Id="CAPPIPEDI.DLL" Name="CapPipedI.dll" Source="$(var.BuildDirectory)\Lib\CapPipedI.dll" />
      </Component>
      <Component Id="CAPPIPEDI2.DLL" Guid="{495E8EE3-E92E-4646-A18A-09A124205058}">
        <File Id="CAPPIPEDI2.DLL" Name="CapPipedI2.dll" Source="$(var.BuildDirectory)\Lib\CapPipedI2.dll" />
      </Component>
      <Component Id="CAPPIPEDP.DLL" Guid="{D24AED40-896D-40BA-AF6E-52692D2E3858}">
        <File Id="CAPPIPEDP.DLL" Name="CapPipedP.dll" Source="$(var.BuildDirectory)\Lib\CapPipedP.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="X86">
      <Component Id="SQLite.Interop.dll" DiskId="1" Guid="{66EFB996-D5BB-4C2C-8845-9E65954D9B8C}">
        <File Id="SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.BuildDirectory)\x86\SQLite.Interop.dll" />
      </Component>
      <Component Id="sqlite3.dll" Guid="{B6012374-585F-4C59-A1BD-D3272F68DB05}">
        <File Id="sqlite3.dllL" Name="sqlite3.dll" Source="$(var.BuildDirectory)\x86\sqlite3.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="X64">
      <Component Id="SQLite.Interop.x64.dll" DiskId="1" Guid="{351E106D-8890-4BD1-8676-1D103E46CCC7}">
        <File Id="SQLite.Interop.x64.dll" Name="SQLite.Interop.dll" Source="$(var.BuildDirectory)\x64\SQLite.Interop.dll" />
      </Component>
      <Component Id="sqlite3.x64.dll" Guid="{09DD940B-16CB-4134-9146-F8B8E1977F8C}">
        <File Id="sqlite3.x64.dll" Name="sqlite3.dll" Source="$(var.BuildDirectory)\x64\sqlite3.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PLAYERTYPES">
      <Component Id="BAD_LAG.PNG" DiskId="1" Guid="0C2FC918-F642-4848-8628-2D4FAFB9378C">
        <File Id="BAD_LAG.PNG" Name="Bad LAG.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Bad LAG.png" />
      </Component>
      <Component Id="BOOK.PNG" DiskId="1" Guid="F528F4EF-C1A5-4D30-952F-C8B924A81A06">
        <File Id="BOOK.PNG" Name="book.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\book.png" />
      </Component>
      <Component Id="CAT_2.PNG" DiskId="1" Guid="2A1E6A24-6E48-4BF5-8E73-0C764BE8CD8C">
        <File Id="CAT_2.PNG" Name="cat-2.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\cat-2.png" />
      </Component>
      <Component Id="CAT.PNG" DiskId="1" Guid="9D0F7EF2-DB06-4AF3-8E51-6FFD8D892157">
        <File Id="CAT.PNG" Name="cat.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\cat.png" />
      </Component>
      <Component Id="CRAZY_FACE_2.PNG" DiskId="1" Guid="9F26CC22-80C2-4EB9-9952-F56598E52AB6">
        <File Id="CRAZY_FACE_2.PNG" Name="crazy-face-2.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\crazy-face-2.png" />
      </Component>
      <Component Id="CRAZY_FACE.PNG" DiskId="1" Guid="64CDFF64-DC74-4B34-BCA1-09DF5CE652FB">
        <File Id="CRAZY_FACE.PNG" Name="crazy-face.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\crazy-face.png" />
      </Component>
      <Component Id="DONKEY_2.PNG" DiskId="1" Guid="B4D9EEAE-6C01-4878-8B50-263C7EB7B472">
        <File Id="DONKEY_2.PNG" Name="donkey-2.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\donkey-2.png" />
      </Component>
      <Component Id="DONKEY.PNG" DiskId="1" Guid="1EB90231-6772-45F0-946D-75597216432C">
        <File Id="DONKEY.PNG" Name="donkey.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\donkey.png" />
      </Component>
      <Component Id="FISH.PNG" DiskId="1" Guid="0FD04EA8-939B-4E7F-BCE5-EFF8AB686C66">
        <File Id="FISH.PNG" Name="Fish.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Fish.png" />
      </Component>
      <Component Id="KNIFE_2.PNG" DiskId="1" Guid="2847B0A0-F83D-42DB-B5C7-ED4A96D77FE1">
        <File Id="KNIFE_2.PNG" Name="knife-2.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\knife-2.png" />
      </Component>
      <Component Id="KNIFE.PNG" DiskId="1" Guid="A93B5122-580E-419C-9F37-0040C910E72E">
        <File Id="KNIFE.PNG" Name="knife.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\knife.png" />
      </Component>
      <Component Id="MONEY_BAG.PNG" DiskId="1" Guid="317B9804-8B60-4727-A35D-29F7E87D42E8">
        <File Id="MONEY_BAG.PNG" Name="money-bag.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\money-bag.png" />
      </Component>
      <Component Id="NIT.PNG" DiskId="1" Guid="0DB64685-6CDC-428A-BEF1-2F93291A4AA8">
        <File Id="NIT.PNG" Name="Nit.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Nit.png" />
      </Component>
      <Component Id="NUTBALL.PNG" DiskId="1" Guid="AA0D4078-B356-435E-87D1-929629546E81">
        <File Id="NUTBALL.PNG" Name="Nutball.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Nutball.png" />
      </Component>
      <Component Id="POKER_CARD.PNG" DiskId="1" Guid="06140B57-9843-4A52-A486-9796C1880604">
        <File Id="POKER_CARD.PNG" Name="poker-card.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\poker-card.png" />
      </Component>
      <Component Id="ROCK_2.PNG" DiskId="1" Guid="DC9F2E3B-E432-44AF-B722-B0D6D4A13F08">
        <File Id="ROCK_2.PNG" Name="rock-2.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\rock-2.png" />
      </Component>
      <Component Id="ROCK.PNG" DiskId="1" Guid="BA67FF7B-8BF8-452A-9476-2896AAD64BDE">
        <File Id="ROCK.PNG" Name="rock.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\rock.png" />
      </Component>
      <Component Id="STANDARD_REG.PNG" DiskId="1" Guid="B13E3459-C441-45D9-B7C2-379E5E1DA6EF">
        <File Id="STANDARD_REG.PNG" Name="Standard Reg.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Standard Reg.png" />
      </Component>
      <Component Id="TIGHT_REG.PNG" DiskId="1" Guid="8073740A-BBD9-4C16-B4AC-29E52AD46D5B">
        <File Id="TIGHT_REG.PNG" Name="Tight Reg.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Tight Reg.png" />
      </Component>
      <Component Id="TRICKY_LAG.PNG" DiskId="1" Guid="3F8CFF18-84F6-44E4-92D4-AB9D741F22A8">
        <File Id="TRICKY_LAG.PNG" Name="Tricky LAG.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Tricky LAG.png" />
      </Component>
      <Component Id="TV_2.PNG" DiskId="1" Guid="AEEA9E81-0BFC-4639-8B0F-37E95C82A3D1">
        <File Id="TV_2.PNG" Name="tv-2.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\tv-2.png" />
      </Component>
      <Component Id="TV.PNG" DiskId="1" Guid="112B484E-6281-457E-8660-41CF3B9F34D5">
        <File Id="TV.PNG" Name="tv.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\tv.png" />
      </Component>
      <Component Id="WHALE.PNG" DiskId="1" Guid="B715A973-8872-4E55-824F-C22654C381D9">
        <File Id="WHALE.PNG" Name="Whale.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\Whale.png" />
      </Component>
      <Component Id="ZOMBIE.PNG" DiskId="1" Guid="3EFF0736-9E61-4246-B160-85EFCCA378D3">
        <File Id="ZOMBIE.PNG" Name="zombie.png" Source="$(var.BuildDirectory)\Data\PlayerTypes\zombie.png" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SCRIPTS">
      <Component Id="clean_db.sql" Guid="{665CFCB5-BDB5-4312-8E70-8CDA6656B0C3}">
        <File Id="clean_db.sql" KeyPath="yes" Source="$(var.BuildDirectory)\Scripts\clean_db.sql" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="StartMenuShortcuts" Guid="8DE53C6F-F2BE-4077-BC69-F3626D95D1B9">
        <Condition>INSTALLPROGRAMMENUSHORTCUT</Condition>
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[#DriveHUD.Application.exe]" Icon="StartMenuIcon.exe" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="UninstallProduct" Name="Uninstall $(var.ProductName)" Description="Uninstalls $(var.ProductName)" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
        <RemoveFolder Id="RemoveProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed"  Type="integer"  Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcuts" Guid="{11089872-F307-4232-A8EE-65854123C18F}">
        <Condition>INSTALLDESKTOPSHORTCUT</Condition>
        <Shortcut Id="ApplicationStartDesktopShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Target="[#DriveHUD.Application.exe]" Icon="StartMenuIcon.exe" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed"  Type="integer"  Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Custom Actions -->
    <CustomAction Id='DataCleaner' Directory='INSTALLDIR'
                   ExeCommand='[SystemFolder]cmd.exe /C DriveHUD.Application.exe -uninstall' Execute='deferred' Return='ignore'  />

    <InstallExecuteSequence>
      <Custom Action="DataCleaner" After='InstallInitialize'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL") AND REMOVEPLAYERDATA</Custom>
    </InstallExecuteSequence>

    <Icon Id="DesktopIcon.exe" SourceFile="..\DriveHUD.Application\images\drivehud.ico" />
    <Icon Id="StartMenuIcon.exe" SourceFile="..\DriveHUD.Application\images\drivehud.ico" />

    <Feature Id="ProductFeature" Title="$(var.ProductName) Setup" Level="1">
      <ComponentRef Id="Shortcuts"/>
      <ComponentRef Id="StartMenuShortcuts"/>
      <ComponentRef Id="DesktopShortcuts"/>
      <ComponentRef Id="DriveHUD.Application.exe" />
      <ComponentRef Id="DriveHUD.HUD.exe" />
      <ComponentRef Id="DriveHUD.HUD.Service.dll" />
      <ComponentRef Id="DriveHUD.PlayerXRay.dll" />
      <ComponentRef Id="Xceed.Wpf.Toolkit.dll" />
      <ComponentRef Id="DriveHUD.HUD.exe.config"/>
      <ComponentRef Id="DriveHUD.DBMigration.exe" />
      <ComponentRef Id="DriveHUD.DBMigration.exe.config" />
      <ComponentRef Id="DriveHUD.ViewModels.dll" />
      <ComponentRef Id="DriveHUD.Common.dll" />
      <ComponentRef Id="DriveHUD.Common.Resources.dll" />
      <ComponentRef Id="DriveHUD.Common.Infrastructure.dll" />
      <ComponentRef Id="DriveHUD.Common.Wpf.dll" />
      <ComponentRef Id="DriveHUD.EquityCalculator.dll" />
      <ComponentRef Id="DriveHUD.EquityCalculator.Base.dll" />
      <ComponentRef Id="DriveHUD.Controls.dll" />
      <ComponentRef Id="DriveHUD.Importers.dll" />
      <ComponentRef Id="DriveHUD.PMCatcher.dll" />
      <ComponentRef Id="Model.dll" />
      <ComponentRef Id="HandHistories.Objects.dll" />
      <ComponentRef Id="HandHistories.Parser.dll" />
      <ComponentRef Id="DHCReg.dll" />
      <ComponentRef Id="DHHReg.dll" />
      <ComponentRef Id="DHOReg.dll" />
      <ComponentRef Id="XRCReg.dll" />
      <ComponentRef Id="XRHReg.dll" />
      <ComponentRef Id="XROReg.dll" />
      <ComponentRef Id="GGNCReg.dll" />
      <ComponentRef Id="GGNHReg.dll" />
      <ComponentRef Id="GGNOReg.dll" />
      <ComponentRef Id="GGNTReg.dll" />
      <ComponentRef Id="DriveHUD.Updater.exe"/>
      <ComponentRef Id="DriveHUD.Updater.exe.config"/>
      <ComponentRef Id="DriveHUD.Updater.Core.dll"/>
      <ComponentRef Id="DriveHUD.Entities.dll" />
      <ComponentRef Id="DriveHUD.API.dll" />
      <ComponentRef Id="clean_db.sql" />
      <ComponentRef Id="FluentMigrator.dll"/>
      <ComponentRef Id="FluentMigrator.Runner.dll"/>
      <ComponentRef Id="FluentNHibernate.dll" />
      <ComponentRef Id="HandEvaluator.dll" />
      <ComponentRef Id="Npgsql.dll" />
      <ComponentRef Id="Mono.Security.dll" />
      <ComponentRef Id="Iesi.Collections.dll" />
      <ComponentRef Id="ManagedWinapi.dll" />
      <ComponentRef Id="ManagedWinapiNativeHelper.dll" />
      <ComponentRef Id="NHibernate.dll" />
      <ComponentRef Id="NLog.dll" />
      <ComponentRef Id="System.Data.SQLite.dll" />
      <ComponentRef Id="SQLite.Interop.dll" />
      <ComponentRef Id="sqlite3.dll" />
      <ComponentRef Id="SQLite.Interop.x64.dll" />
      <ComponentRef Id="sqlite3.x64.dll" />
      <ComponentRef Id="protobufnet.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.Chart.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.DataVisualization.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.Diagrams.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.Diagrams.Extensions.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.GridView.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.Input.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.Navigation.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.RibbonView.dll" />
      <ComponentRef Id="Telerik.Windows.Data.dll" />
      <ComponentRef Id="Telerik.Windows.Diagrams.Core.dll" />
      <ComponentRef Id="Telerik.Windows.PersistenceFramework.dll" />
      <ComponentRef Id="DeployLX.Licensing.v5.dll" />
      <ComponentRef Id="Facebook.dll" />
      <ComponentRef Id="Twitterizer2.dll" />
      <ComponentRef Id="App.config" />
      <ComponentRef Id="log4net.dll" />
      <ComponentRef Id="Prism.Unity.Wpf.dll" />
      <ComponentRef Id="Prism.Wpf.dll" />
      <ComponentRef Id="Prism.dll" />
      <ComponentRef Id="Microsoft.Practices.Unity.dll" />
      <ComponentRef Id="Microsoft.Practices.ServiceLocation.dll" />
      <ComponentRef Id="System.Windows.Interactivity.dll" />
      <ComponentRef Id="Microsoft.Expression.Interactions.dll" />
      <ComponentRef Id="ReactiveUI.dll" />
      <ComponentRef Id="Splat.dll" />
      <ComponentRef Id="websocket.sharp.dll" />
      <ComponentRef Id="Titanium.Web.Proxy.dll" />
      <ComponentRef Id="StreamExtended.dll" />
      <ComponentRef Id="BouncyCastle.Crypto.dll" />
      <ComponentRef Id="System.Reactive.Core.dll" />
      <ComponentRef Id="System.Reactive.Interfaces.dll" />
      <ComponentRef Id="System.Reactive.Linq.dll" />
      <ComponentRef Id="System.Reactive.PlatformServices.dll" />
      <ComponentRef Id="System.Reactive.Windows.Threading.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="Microsoft.Practices.Unity.Configuration.dll" />
      <ComponentRef Id="Microsoft.Practices.Unity.RegistrationByConvention.dll" />
      <ComponentRef Id="Telerik.Windows.Controls.Data.dll" />
      <ComponentRef Id="Microsoft.Expression.Drawing.dll" />
      <ComponentRef Id="System.Threading.Tasks.Extensions.dll" />
      <ComponentRef Id="CAPPIPEDB.DLL" />
      <ComponentRef Id="CAPPIPEDI.DLL" />
      <ComponentRef Id="CAPPIPEDI2.DLL" />
      <ComponentRef Id="CAPPIPEDP.DLL" />
      <ComponentRef Id="PMCReg.dll" />
      <ComponentRef Id="PMHReg.dll" />
      <ComponentRef Id="PMOReg.dll" />
      <ComponentRef Id="PMTReg.dll" />
      <ComponentRef Id="PMNReg.dll" />
      <ComponentRef Id="SharpPcap.dll" />
      <ComponentRef Id="bdec.dll" />
      <ComponentRef Id="PacketDotNet.dll" />
      <ComponentRef Id="EPPlus.dll" />
      <ComponentRef Id="BAD_LAG.PNG" />
      <ComponentRef Id="BOOK.PNG" />
      <ComponentRef Id="CAT_2.PNG" />
      <ComponentRef Id="CAT.PNG" />
      <ComponentRef Id="CRAZY_FACE_2.PNG" />
      <ComponentRef Id="CRAZY_FACE.PNG" />
      <ComponentRef Id="DONKEY_2.PNG" />
      <ComponentRef Id="DONKEY.PNG" />
      <ComponentRef Id="FISH.PNG" />
      <ComponentRef Id="KNIFE_2.PNG" />
      <ComponentRef Id="KNIFE.PNG" />
      <ComponentRef Id="MONEY_BAG.PNG" />
      <ComponentRef Id="NIT.PNG" />
      <ComponentRef Id="NUTBALL.PNG" />
      <ComponentRef Id="POKER_CARD.PNG" />
      <ComponentRef Id="ROCK_2.PNG" />
      <ComponentRef Id="ROCK.PNG" />
      <ComponentRef Id="STANDARD_REG.PNG" />
      <ComponentRef Id="TIGHT_REG.PNG" />
      <ComponentRef Id="TRICKY_LAG.PNG" />
      <ComponentRef Id="TV_2.PNG"/>
      <ComponentRef Id="TV.PNG" />
      <ComponentRef Id="WHALE.PNG" />
      <ComponentRef Id="ZOMBIE.PNG" />
    </Feature>

  </Product>
</Wix>