<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="HudNamedPipeBindingService_IHudNamedPipeBindingService" closeTimeout="00:05:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                 transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxConnections="10"
                 maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="Transport" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="DriveHUD.HUD.Service.HudNamedPipeBindingService" behaviorConfiguration="MEX">
        <endpoint address="net.pipe://localhost/DriveHUD/HUD/Service/HudNamedPipeBindingService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="HudNamedPipeBindingService_IHudNamedPipeBindingService"
                  contract="DriveHUD.HUD.Service.IHudNamedPipeBindingService" />

        <endpoint address="net.pipe://localhost/DriveHUD/HUD/Service/HudNamedPipeBindingService/mex"
                  binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata httpGetEnabled="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
